<div class="container">


  <h2> Buscar Usuario</h2>

  <p>Texto Escrito: {{ nombre }}</p>

  <input
    type="text"
    placeholder="Escribe un nombre"
    [(ngModel)]="nombre"
    [ngClass]="{ 'input-error': error }"
    [ngStyle]="{ borderColor: error ? 'red' : 'green' }"
  />

  <button (click)="buscarUsuario()" [disabled]="cargando || nombre.length < 3">
    {{ cargando ? 'Buscando...' : 'Buscar' }}
  </button>

  @if (error) {
    <p class="error">{{ error }}</p>
  }


  @if (usuarios.length > 0) {
  <ul>
    @for (usuario of usuarios; track usuario.id) {
      <li>{{ usuario.name }} ({{ usuario.email }}) - {{ usuario.username }}</li>
    }
  </ul>
}
</div>
